html, body {
    margin: 0;
    padding: 0;
}
div.upper, div.lower {
    position: absolute;
    width: 93%;
    right: 0;
}
div.upper {
    height: 16%;
    top: 0;
}
div.lower {
    bottom: 0;
    height: 80%;
}
div.first{
     width:100%;
     height: 50%;
}
.btn {
    height: 100%;
    width: 100%;
}
div.second, div.third{
    text-align:center;
    width:100%;
    height:50%;
	
    border-style: dashed;
    overflow: overlay;
}
.right, .left {
    height: 100%;
    width: 49%;
    border-style: solid;
    margin-left: 0.1%;
}
.right {
    margin-left: 50%;
    border-color: blueviolet;
}
.left {
    float: left;
    border-color: black;
}
.clearButton {
    width: 10%;
    height: 50%;
    right: 0;
    position: absolute;
    margin-right: 0.7%;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 7%;
    background-color: #ABBAEA;
    position: fixed;
    height: 100%;
    overflow: auto;
}
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
.checkbox {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}

.count {
    text-align: center;
    border-width: 3px;
    border-color: #EBEBEB;
    border-style: double;
    font-size: 25px;
}