html, body {
    margin: 0;
    padding: 0;
}
div.upper, div.lower {
    position: absolute;
    width: 93%;
    right: 0;
}
div.upper {
    height: 100px;
    top: 0;
}
div.lower {
    bottom: 0;
    height: 820px;

    section{
        display: none;
        &.show{
            display: table-cell;
        }
    }
}
div.first{
     position:absolute;
     border:1px solid red;
     text-align:center;
     width:100%
}
div.second, div.third{
    text-align:center;
    width:100%;
    height:30px;
	position: relative;
	top:40px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 7%;
    background-color: #ABBAEA;
    position: fixed;
    height: 100%;
    overflow: auto;
}
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
.checkbox {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}