<!doctype html>
<html>
    <head>
        <title>Kanalisering</title>
        <link rel="stylesheet" href="../static/view.css">
    </head>
    <body>
        <div class=upper>
            <div class=first>
                <button onclick = "Open();">Neste</button>
                <button onclick = "Save()">Lagre</button>
                <button onclick = "ClearStorage();">Clear local storage</button>
            </div>
            <div class=second>
                <label for="armer">Armer i rundkjøring:</label>
                <input type="number" name="armerverdi" id="armverdi" min="1" max="8" onkeyup="if(parseInt(this.value)>8){this.value = 8;} else if(parseInt(this.value)<1){this.value = 1;}" autofocus>
            </div>
        </div>
        <div class=lower>
            <iframe id="Kart" width="100%" height="100%" bottom="0"></iframe>
        </div>
        <script type = "text/javascript">
            var egenskaper_dict = JSON.parse('{{ egenskaper_dict }}')
            console.log(egenskaper_dict)
            console.log(typeof egenskaper_dict)
            var egenskaper = '{{ egenskaper }}'
            var egenskaper = egenskaper.replaceAll("&#39;", '"')
            console.log(egenskaper)
            var egenskaper = eval(egenskaper) 
            var objekter = '{{ objekter }}'
            var objekter = objekter.replaceAll("&#34;", '').replaceAll("{list: ", '').replaceAll("}", '').replaceAll(" ", '')
            var objekter = eval(objekter)
            
            let i = localStorage.getItem("i") ? Number(localStorage.getItem("i")) : 0;
            const nvdbObjekter = [
                `16/hva:!(id~49)~/valgt:${objekter[i][0]}:37~/vegnett:metrering~+(detaljniva~!VT)`, 
                `16/valgt:${objekter[i][0]}:60`,
                `16/hva:!(id~46)~/vegnett:metrering~+(detaljniva~!VT)~/valgt:${objekter[i][0]}:46`
                ]
            console.log(nvdbObjekter)
            console.log(typeof egenskaper)
            console.log(egenskaper)
            var link = `https://vegkart.atlas.vegvesen.no/#kartlag:nib/@${objekter[i][3][0]},${objekter[i][3][1]},${nvdbObjekter[egenskaper[0]]}~`;
            const Kart = document.getElementById("Kart");
            console.log(link)
            
            Kart.src = link
            
            k2 = document.getElementById("armverdi")
            

            function ClearStorage() {
                console.log("Cleared")
                window.localStorage.clear();
                location.reload()
            }
            function Open() {
                if (k2.value != "") {
                    var armer = localStorage.getItem("armer") ? JSON.parse(localStorage.getItem("armer")) : []
                    armer.push([objekter[i][0], k2.value])
                    localStorage.setItem("armer", JSON.stringify(armer))
                    console.log(armer)
                    
                    ++i;
                    localStorage.setItem("i", i)
                    console.log(i)
                
                    link = `https://vegkart.atlas.vegvesen.no/#kartlag:nib/@${objekter[i][3][0]},${objekter[i][3][1]},${nvdbObjekter[egenskaper[0]]}~`;
                    Kart.src = link
                    location.reload()
                    
                }
            }
            var input = document.getElementById("armverdi");
            input.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    Open();
                }
            })
            function Save() {
                var armer = localStorage.getItem("armer") ? JSON.parse(localStorage.getItem("armer")) : []
                const link = document.createElement("a")
                const file = new Blob([JSON.stringify(armer)], { type: 'text/plain' })
                link.href = URL.createObjectURL(file)
                link.download = "armer.txt"
                link.click()
                URL.revokeObjectURL(link.href)
            }
            window.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    document.getElementById("armverdi").focus();
                }
            })
        </script>
    </body>
</html>