<!doctype html>
<html>
    <head>
        <title>Kanalisering</title>
        <link rel="stylesheet" href="../static/view.css">
    </head>
    <body>
        <div class=upper>
            <div class=first>
                <button onclick = "Next();">Neste</button>
                <form id="JSdata" action="/view" method="post">
                    <input type="hidden" name="JSvar" id="JSvar" value="" />
                    <button class="btn" type="submit">Lagre</button>
                </form>    
                
            </div>
            <div class=second>
                <form>
                    <div id="egenskaper">
                        
                    </div>
                    <button onclick = "ClearStorage();">Clear local storage</button>
                </form>
            </div>
        </div>
        <div class=lower>
            <iframe id="Kart" width="100%" height="100%" bottom="0"></iframe>
        </div>
        <script type = "text/javascript">
            function addIntInput(min, max, id){
                var x = document.createElement('input');
                x.setAttribute('type', 'number');
                x.setAttribute('min', min);
                x.setAttribute('max', max);
                x.setAttribute('id', id);
                x.setAttribute('onkeyup', `if(parseInt(this.value)>${max}){this.value = ${max};} else if(parseInt(this.value)<${min}){this.value = ${min};}`)
                document.getElementById('egenskaper').appendChild(x)
            }
            function addSelectInput(list_of_selects, id){
                var x = document.createElement('select');
                x.setAttribute('id', id);
                for(var i = 0; i < list_of_selects.length; i++){
                    var opt = list_of_selects[i];
                    var el = document.createElement('option');
                    el.textContent = opt;
                    el.value = opt;
                    x.appendChild(el);
                }
                document.getElementById('egenskaper').appendChild(x)
            }
            function addLabel(label){
                var x = document.createElement('label');
                x.setAttribute('value', label)
                x.innerText = label
                document.getElementById('egenskaper').appendChild(x)
            }
            
            let egenskaperForm = {
                vegkryss_type: 'addLabel(" Type: ");addSelectInput(["Plankryss", "T-kryss", "X-kryss", "Rundkjøring", "Planskilt kryss", "Planskilt kryss, trompetkryss", "Planskilt kryss, ruterkryss", "Planskilt kryss, kløverbladkryss", "Planskilt kryss, hankkryss"], "type")',
                kryssnummer: 'addLabel(" Kryssnummer: "); addIntInput(1, 1000, "kryssnummer")',
                armer: 'addLabel(" Armer i rundkjøring: "); addIntInput(1, 8, "armer")',
                kanalisering1: 'addLabel(" Kanalisering primærveg: ");addSelectInput(["Ingen", "Malt", "Fysisk m kantstein"], "kanalisering1")',
                kanalisering2: 'addLabel(" Kanalisering sekundærveger: ");addSelectInput(["Ingen", "Malt", "Fysisk m kantstein", "Ulik kanalisering"], "kanalisering2")',
                bruksområde: 'addLabel(" Bruksområde: ");addSelectInput(["-Ingen-", "Bolig", "Hytte", "Gardsbruk", "Dyrkamark/jordbruk", "Skog/skogbruk", "Forretning", "Industri", "Service", "Skole/Barnehage", "Fritidsaktivitet", "Naust"], "bruksområde")',
                primæraktivitet: 'addLabel(" Primæraktivitet: ");addSelectInput(["-Ingen-", "1-2leiligheter", "3-5 leiligheter", "6-10 leiligheter", "> 10 leiligheter", "1-2 hytter", "3-5 hytter", "> 5 hytter", "1 gardsbruk i drift", "2-3 gardsbruk i drift", "Nedlagt gardsbruk", "Beiteområde/dyrehold", "Jord/grustak", "Grustak/steinbrudd", "Tømmeropplagring/velteplass", "Liten forretning", "Middels landhandel", "Stort forretningssenter", "Kiosk/gatekjøkken", "Hotell < 50 plasser", "Hotell > 50 plasser", "Bensinstasjon, bilverksted", "Sykehus < 50 plasser", "Sykehus > 50 plasser", "Kirke/menighet/gravplass", "Samfunnshus/grendahus", "Stoppested kollektivtrafikk", "Parkering", "Utfartsplass, skitrekk", "Fritid, kino", "Lekeplass/løkke"], "primæraktivitet")',   
                fartsdemper_type: 'addLabel(" Type: ");addSelectInput(["Fartshump", "Fartsputer", "Busshump", "Trafikkøy", "Innsnevring", "Sideforskyvning", "Innsnevring og sideforskyvning", "Rumlefelt", "Fortausutvidelse i kryss", "Fartsdump"], "fartsdemper_type")',
                materiale: 'addLabel("Materiale/belegning");addSelectInput(["Stein, brostein", "Asfalt", "Betongstein", "Betong, prefabrikkert"], "materiale")',
            };
            
            var egenskaper = '{{ egenskaper }}'
            var egenskaper = egenskaper.replaceAll("&#39;", '"')
            console.log(egenskaper)
            var egenskaper = eval(egenskaper) 
            console.log(egenskaper)
            
            for(var j=1; j<egenskaper.length; j++){
                eval(egenskaperForm[egenskaper[j]])
            }
            
            
            var objekter = '{{ objekter }}'
            var objekter = objekter.replaceAll("&#34;", '').replaceAll("{list: ", '').replaceAll("}", '').replaceAll(" ", '')
            var objekter = eval(objekter)
            console.log(objekter)
            
            let i = localStorage.getItem("i") ? Number(localStorage.getItem("i")) : 0;
            
            const nvdbObjekter = [
                `16/hva:!(id~49)~/valgt:${objekter[i][0]}:37~/vegnett:metrering~+(detaljniva~!VT)`, 
                `16/hva:!(id~46)~/vegnett:metrering~+(detaljniva~!VT)~/valgt:${objekter[i][0]}:46`,
                `16/hva:!(id~103)~/vegnett:metrering~+(detaljniva~!VT)~/valgt:${objekter[i][0]}:103`
                ]
                
            console.log(nvdbObjekter)
            console.log(typeof egenskaper)
            console.log(egenskaper)
            var link = `https://vegkart.atlas.vegvesen.no/#kartlag:nib/@${objekter[i][3][0]},${objekter[i][3][1]},${nvdbObjekter[egenskaper[0]]}~`;
            const Kart = document.getElementById("Kart");
            console.log(link)
            
            Kart.src = link    
            
            var form = document.getElementById("JSdata")
            var input = document.getElementById("JSvar")
            form.addEventListener('submit', function(e){
                var verdier = localStorage.getItem("verdier") ? JSON.parse(localStorage.getItem("verdier")) : []
                input.value = JSON.stringify(verdier)
                form.submit()
            })

            function ClearStorage() {
                console.log("Cleared")
                window.localStorage.clear();
                location.reload()
            }
            function Next() {
                var verdier = localStorage.getItem("verdier") ? JSON.parse(localStorage.getItem("verdier")) : []
                dette_objekt = [objekter[i][0], objekter[i][1], objekter[i][2]]
                for(var k = 1; k < egenskaper.length; k++){
                    dette_objekt.push(document.getElementById(egenskaper[k]).value)
                }
                verdier.push(dette_objekt)
                localStorage.setItem("verdier", JSON.stringify(verdier))

                ++i;
                localStorage.setItem("i", i)
                console.log(i)
            
                link = `https://vegkart.atlas.vegvesen.no/#kartlag:nib/@${objekter[i][3][0]},${objekter[i][3][1]},${nvdbObjekter[egenskaper[0]]}~`;
                Kart.src = link
                location.reload()
            }
            function createJSON() {
                var verdier = localStorage.getItem("verdier") ? JSON.parse(localStorage.getItem("verdier")) : []
                const link = document.createElement("a")
                const file = new Blob([JSON.stringify(verdier)], { type: 'text/plain' })
                link.href = URL.createObjectURL(file)
                link.download = "verdier.txt"
                link.click()
                URL.revokeObjectURL(link.href)
                
            }
            window.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    document.getElementById("armverdi").focus();
                }
            })
        </script>
    </body>
</html>