html, body {
    margin: 0;
    padding: 0;
}

.btn {
    height: 100px;
    background-color: #ABBAEA;
    width: 100%;
    font-size: 24px;
    font-family: Candara;
    font-weight: bold;
    position: fixed;
    bottom: 0;
}

.filters {
    height: 100px;
    bottom: 100px;
    position: fixed;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    padding: 1%
}

.dank {
    height: 500px;
    background-color: #EBEBEB;
    border-width: 5px;
    border-color: #ABBAEA;
    border-style: double;
}

.box {
    display: none;
    background-color: #EBEBEB;
    height: 400;
    border-width: 5px;
    border-color: #ABBAEA;
    border-style: double;
}